/* Basic style rule to outline and space block-level elements */
.box {
    background: #eee;
    margin-bottom: 10px;
}

h1 {
 margin: .67em 0;
  font-size: 1.5em;
    font-family: rockwell, bold-serif, serif;
    color: white;
}

.tagline {
background-color: #999999;
    height: 93px;
}

.mainnav {
background-color: #F7931E;
color: white;
}


.events {
 background-color: white;
    
}
.date { font-family: Helvetica, sans-serif;
    font-style: Bold ;
    font-size: 14px;
    color: #000000;
}