
h2 {
font-family: Verdana, sans-serif;
color: #576D94;
}

h3{
color: purple;
font-size: 17px;
}

h4{
color: green;
    font-size: 16px;
}

h5{
color: magenta;
    font-size: 15px;
}
p {
	color: #4A4943;
    font-family: Garamond, serif;
    size: 18px;
    
}

span {
	color: blue;
}

a {
color: magenta;
}
