/* This are my amazing styles, don't dare to steal them */

h1{}
h2{
    font-family:Verdana, sans-serif;
    color: #576D94;
}
h3{
font-size: 17px;
    color: purple;
}
h4{
font-size: 16px;
    color: green;}
h5{
font-size: 14px;
    color: magenta;
}
h6{}

img{
   border: 20px;
   height: 100px;
   width: 100px;
}

p{
font-family: Garamond, serif;
font-size: 18px; 
/*    font-size: 59px; */
color:#4a4943;
}
a {
color: purple;
    font-size: 50px;
    font-family: comic-sans, sans-serif;
}

span {color:blue;
font-size: 50px;}